@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
	padding-top: 10px;
	padding-left: 10px;
}

.no-margin{
	margin: 0 !important;
}

.containerForCustomer{
    font-family: 'PT Sans', sans-serif;
    position: relative;
}

.btn-toBook{
	background-color: #FFEAAA;
    padding: 15px 30.5px 14px 14px;
    text-align: center;
    color: black;
    font-size: 18px;
    display: inline-block;
    transition: 0.5s;
}

.btn-toOrder{
    padding: 17px 18.3px 14px 14px;
    text-align: center;
    color: #0066FF;
    font-size: 18px;
    display: inline-block;
    transition: 0.5s;
}

.iconToBook{
	background: url(img/toBook.png) no-repeat;
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: sub;
	margin-right: 10px;
}

.iconToOrder{
	background: url(img/toOrder.png) no-repeat;
    width: 38px;
    height: 24px;
    display: inline-block;
    background-position: center;
    background-size: contain;
    vertical-align: sub;
	margin-right: 10px;
}

.btn-toBook:hover, 
.btn-toOrder:hover{
	text-decoration: none;
}

.btn-toBook:hover{
	color: #f46d3e;
}

.btn-toOrder:hover{
	color: #f46d3e;
}

.main-ForCustomer{
	margin-top: 16px;
	background-color: #FFE9D9;
	padding: 30px;
}

.mainBtn-ForCustomer a{
	padding: 14px 12px 12px 13px;
	background-color: #F46D3E;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
	margin-top: 25px;
}

.mainBtn-ForCustomer a:hover{
	text-decoration: none;
}

.mainDiscount{
	width: 100%;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    line-height: 18px;
    font-size: 15px;
    color: #8E8B8B;
    margin-top: 7px;
    cursor: default;
}

.form-ForCustomer{
	width: 100%;
}

.form-ForCustomer
	label{
		margin-bottom: 6px;
		display: block;
        font-family: 'PT Sans', sans-serif;
        line-height: 18px;
        font-size: 15px;
        color: #8E8B8B;
        margin-left: 3px;
	}

.form-ForCustomer
	input::placeholder{
		color: black;
	}

.form-ForCustomer
	input{
        font-family: 'PT Sans', sans-serif;
        font-size: 20px;
		color: black;
		padding: 11px 28px 9px 15px;
	}

.branchForm{
	margin-right: 14px;
}

.form-ForCustomer
	select{
        font-family: 'PT Sans', sans-serif;
        font-size: 20px;
		color: black;
		padding: 12px 14px;
		padding-right: 42px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none!important;
        background: url(img/drop.png) no-repeat;
        background-color: white;
        background-position: 88% 54%;
        background-size: 12px;
	}

.discount{
	border-radius: 50%;
    background-color: #F46D3E;
    padding: 30px;
    color: white;
    position: absolute;
    top: 0;
    left: 80%;
    box-shadow: -3px 6px 11px #d9623875;
    cursor: default;
    top: 10px;
}

.discount div:first-child{
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}

.discount div:last-child{
    font-family: 'PT Sans', sans-serif;
    margin-top: -10px;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 1100px){
	.discount{
    left: 85%;
}
}

@media (max-width: 768px){
	.discount div:last-child{
    margin-top: -10px;
    font-size: 32px;
}

.discount div:first-child{
     font-size: 12px;
}

.discount{
    padding: 20px;
    left: 80%;
    top: 20px;
}

.btn-toBook, .btn-toOrder{
	display: block;
    margin-right: auto;
    width: max-content;
}

.btns-ForCustomer{
	display: block;
}
.branchForm {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.discount {
    top: 160px;
}
}

@media (max-width: 515px){
.discount {
    left: 70%;
}
}

@media (max-width: 480px){
.discount {
    left: 75%;
    top: 77%;
}
}

